@font-face {
    font-family: "Bukhari Script";
    src: url("../fonts/volaroid.script.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

body {
    background-color: #000;
    text-align: center;
    font-family: "volaroid";
    color: #fff
}

.arriba {
    position: fixed;
    right: 0;
    bottom: 0;
}

.arriba a {
    text-decoration: none;
    color: green;
}

.arriba a:hover {
    opacity: .7;
}

.fa-angle-up {
    font-size: 2.5rem;
}

    /* ESTILOS PARA EL HEADER */

    header .link-logo {
        width: 20%;
        position: relative;
        right: 16%;
        margin: auto;
        text-decoration: none;
        color: none;
    }
    
    header .logo {
        width: 150%;
    }
    
    .logo:hover {
        opacity: .8;
    }
    
    
    header .fa-bars {
        font-size: 30px;
    }
    
    header .nav-container {
        display: flex;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-menu {
        display: grid;
        grid-auto-flow: column;
        gap: 3em;
    }
    
    .nav-item::after {
        content: "";
        display: block;
        background: #fff;
        width: 90%;
        margin-top: 3px;
        height: 3px;
        clip-path: var(--clippy);
        transition: clip-path .5s;
    
    }
    
    .nav-item {
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    
    .nav-item:hover {
        color: #fff;
        --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    .nav-label, .nav-input {
        display: none;
    }
    
    header nav {
        color: #fff;
    }

/* MEDIAQUERIE PARA EL NAV  MAX-WIDTH 600px */
@media (max-width:600px) {
    .nav-label {
        display: block;
        cursor: pointer;
    }

    .nav-container {
        text-align: center;
    }

    .nav-menu {
        position: relative;
        top: 0;
        /* background: rgb(255, 255, 255, 0.01); */
        background-size: 320px;
        background-attachment: fixed;
        width: 20%;
        height: 200px;
        right: 0;
        left: 4%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at right);
        transition: clip-path 1s ease;
    }

    .nav-input:checked + .nav-menu {
        clip-path: circle(100% at center);
    }
}
/* ESTILOS PARA EL MAIN */
main .galeria-titulo {
    padding: 20px;
}

main .titulo {
    font-size: 4rem;
    text-align: center;
}

main .contenedor-prendas {
    display: flex;
    justify-content: space-evenly;
}

main .contenedor-prenda {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

main .link-img {
    width: 70%;
    margin: auto;
}

.link-img:hover {
    opacity: .4;
}

main .prenda {
    width: 100%;
}

main .titulo {
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    margin: 10px 0;
}
.titulo:hover {
    text-decoration: underline;
}

main .precio {
    font-size: 1.5rem;
}

main .contactar {
    font-size: 1.5rem;
    font-style:italic;
    color: #fff;
}
.redes-sociales a {
    text-decoration: none;
    font-size: 2.7rem;
    margin-left: 20px;
    color: #fff;
}

.fa-facebook:hover {
    color: #1877f2;
}
.fa-whatsapp:hover {
    color: #25d366;
}
.fa-instagram:hover {
    color: #833ab4;
}

/* ESTILOS PARA EL FOOTER */
footer {
    background-color: #fff;
    color: #000;
    width: 100%;
    margin-top: 120px;
}

/* FOOTER 2 */
.footer-two {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

/* REDES */
.social {
    width: 50%;
    text-align: center;
}

.social-title {
    font-size: 2.5rem;
    font-family: "volaroid";
    margin-bottom: 10px;
}

.social ul li {
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.link {
    color: #000;
    flex-direction: column;
    width: 100px;
    text-decoration: none;
}

.twitter {
    margin-top: 10px;
}

.link:hover {
    border-bottom: 1px solid  var(--bs-link-hover-color);
}


.luther-footer {
    display: none;
}

.luther-link-footer {
    text-decoration: none;
}

/* AYUDA */
.help {
    width: 50%;
    margin-bottom: 60px;
    text-align: center;
}

.help-title {
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-family: "volaroid";
}

.help ul li {
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.help-link:hover {
    border-bottom: 1px solid #000;
}

/* MEDIAQUIERE PARA 600PX */
@media screen and (min-width:600px) {
    header .nav-item {
        font-size: 20px;
    }

/* MEDIAQUIERES 700PX */
@media screen and (min-width:700px) {
    header .logo {
        width: 100%;
    }
}

/* MEDIAQUIERES PARA 1000PX */
@media screen and (min-width:1000px) {
    header  .nav-container{
        width: 100%;
        align-items: center;
        display: flex;
    }

    header  .logo {
        width: 150px;
        position: relative;
        right: 30%;
    }

    header .nav-menu {
        margin-right: 50px;
    }

    header .nav-item {
        font-size: 30px;
    }

    header .link-logo {
        width: 93px;
    }

    footer {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer-one {
        width: 50%;
    }

    .social-title {
        font-size: 30px;
    }

    footer .faq-title {
        width: 100%;
        margin-right: 5px;
    }

    .footer-luther {
        margin-right: 50px;
    }

    .asks {
        margin: auto;
        margin-bottom: 5px;
    }

    .luther-footer {
        display: inline-block;
        width: 250px;
    }

    .luther-footer:hover {
        opacity: .7;
    }

    footer .footer-two {
        width: 50%;
        margin: 0;
    }

    .help-title {
        font-size: 30px;
    }

    footer .help {
        margin-bottom: 5%;
    }
    }
}